Repository devq-ai/darwin: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check, pytest, docker-compose-check

poetry-check:
  name: poetry-check
  description: Validate poetry configuration
  entry: poetry check
  language: system
  pass_filenames: false

poetry-lock-check:
  name: poetry-lock-check
  description: Check that poetry.lock is up-to-date
  entry: poetry lock --check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  description: Run pytest tests
  entry: poetry run pytest
  language: system
  pass_filenames: false
  args:
  - tests/
  - --tb=short

docker-compose-check:
  name: docker-compose-check
  description: Validate docker-compose configuration
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

feat(task-7): Fix critical Task 7 REST API and FastAPI Backend issues
  pyproject.toml
  src/darwin/api/main.py
  src/darwin/api/routes/health.py
  tests/conftest.py
  tests/test_task_7.py
Due: poetry-check, poetry-lock-check, pytest

feat(security): complete Task 8 security implementation
  .gitignore
  bandit-report.json
  pyproject.toml
  pytest.ini
  src/darwin/api/dependencies/__init__.py
  src/darwin/api/dependencies/security.py
  src/darwin/api/main.py
  src/darwin/api/routes/auth.py
  src/darwin/dashboard/utils/responsive.py
  src/darwin/security/__init__.py
  src/darwin/security/auth.py
  src/darwin/security/exceptions.py
  src/darwin/security/middleware.py
  src/darwin/security/models.py
  src/darwin/security/rbac.py
  src/darwin/security/utils.py
  src/darwin/visualization/__init__.py
  src/darwin/visualization/analytics.py
  src/darwin/visualization/engine.py
  src/darwin/visualization/plots_3d.py
  tests/test_task_5_ui.py
  tests/test_task_6_visualization.py
  tests/test_task_8_security.py
Due: poetry-check, poetry-lock-check, pytest

feat(visualization): complete Task 6 visualization engine implementation
  src/darwin/visualization/analytics.py
  src/darwin/visualization/engine.py
  src/darwin/visualization/export.py
  src/darwin/visualization/interactive.py
  src/darwin/visualization/plots.py
  src/darwin/visualization/themes.py
Due: pytest

feat(monitoring): initialize Task 9 monitoring and observability system
  src/darwin/monitoring/__init__.py
  src/darwin/monitoring/logfire_integration.py
Due: pytest

feat(monitoring): Complete Task 9 - World-class monitoring system implementation
  src/darwin/api/main.py
  src/darwin/monitoring/alerts.py
  src/darwin/monitoring/health.py
  src/darwin/monitoring/logfire_integration.py
  src/darwin/monitoring/metrics.py
  src/darwin/monitoring/performance.py
  src/darwin/monitoring/tracing.py
  src/darwin/monitoring/utils.py
  tests/test_monitoring.py
Due: pytest

feat(deployment): Complete Task 10 - Production deployment pipeline with monitoring integration
  .github/workflows/ci-cd.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/Dockerfile.prod
  infrastructure/terraform/main.tf
  infrastructure/terraform/variables.tf
  k8s/darwin-api-deployment.yaml
  scripts/deployment/README.md
  scripts/deployment/deploy.sh
Due: docker-compose-check

feat(docs): complete Task 11 - comprehensive documentation
  docs/PRD.txt
  docs/PRD_DARWIN_GENETIC_SOLVER.md
  docs/README.md
  docs/TASK_11_COMPLETION_SUMMARY.md
  docs/api/rest-api.md
  docs/dev_report.md
  docs/developer/monitoring.md
  docs/index.md
  docs/operations/deployment.md
  docs/primer_darwin.md
  docs/tutorials/README.md
  docs/user/README.md
  docs/user/monitoring.md
  docs/user/quick-start.md
Due: none

Fix syntax errors and complete population_ecosystem_model.py
  .gitignore
  __init__.py
  darwin/__init__.py
  darwin/server.py
  infrastructure/pulumi/main.tf
  infrastructure/pulumi/variables.tf
  population_ecosystem_model.py
  start_darwin.sh
Due: pytest

add MIT license
  LICENSE.md
Due: none

Path conditions:
  poetry-check: any of: pyproject.toml
  poetry-lock-check: any of: pyproject.toml
  pytest: any of: \.py$
  docker-compose-check: any of: docker-compose.yml
